/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-600 - latin */
@font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 600;
     src: local(''),
          url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-italic - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
 /* montserrat-600 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     src: local(''),
          url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 2.4rem;
	line-height: 1.2;
	background-color: #FFFFFF;
}

  /* Header */

.container {
     width: 100%;
	max-width: 131rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.main-header{
     color: #333333;
}

.main-header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo-ubiquity {
     margin: 3.5rem 1.8rem;
}
.logo{
     margin: 2rem 0;
}

.logo p{
     color: #707070;
     font-size: 1.4rem;
}

.logo h2{
     font-family:'Raleway', sans-serif;
     font-weight: bold;
     font-size: 2rem;
}

/* Navigation */

.menu{
     display: flex;
     justify-content: space-between;
}

.main-nav{
     margin: auto;
}

.menu-item{
     margin-right: 2rem;
     
}

.menu-link{
     padding: 1rem;
     text-decoration: none;
     color: #333;
     font-weight: 700;
     font-size: 1.4rem;
     transition: .3s;
}

.menu-link:hover,
.menu-link:focus{
     background-color: #F16822;
     color: #FFF;
     outline: 0;
}

/* Hero */

.hero{
     color: #333333;
     background-image: url(../img/slider1.jpg);
     background-size: cover;
     background-position: center;
     min-height: 80vh;
     padding-top: 5rem;
     padding-bottom: 5rem;
     display: flex;
     align-items: center;
}
   
@media (min-resolution: 144dpi){
     .hero{
          background-image: url(../img/slider1@2x.jpg);
     }
}

.hero p{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
}

h1{
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 6.4rem;
     color: #F16822;
     text-align: center;
}

h1 .baseline{
     font-size: 3.2rem;
     line-height: 1;
}

.hero .container{
     padding: auto;
}

/* Services */

.services .container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 3rem;
}

.services h2, .services .baseline{
     grid-column: 1/-1;
     text-align: center;
}

.services h2{
     font-size: 4.8rem;
     font-weight: 700;
     font-family: 'Raleway', sans-serif;
}

.service-img img{
     margin: auto;
}

.service-img{
     width: 10rem;
     height: 10rem;
     background-color: #EEE;
     border-radius: 50%;
     margin: auto;
     display: flex;
}

.services-card{
     text-align: center;
}

.services{
     margin-top: 17rem;
}

.services .baseline{
     margin-top: 5.4rem;
     margin-bottom:5.4rem;
     font-size: 2.4rem;
}

.services-card h3{
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
     font-size: 2.4rem;
     margin: 2rem;
}

.services-card p{
     font-size: 1.6rem;
     line-height: 1.5;
     margin-bottom: 17rem;
}

/* C'est quoi Ubiquity (Spoiler: personne ne sait)*/

.what-ubiquity{
     background-image: url(../img/bokehback.jpg);
     background-size: cover;
     background-position: center; 
     width: 100%;
     min-height: 90vh;
     position: relative;
}

@media (min-resolution: 144dpi){
     .what-ubiquity{
          background-image: url(../img/bokehback@2x.jpg);
     }
}

.what-ubiquity-img{
     margin: 0 auto;
}

.what-ubiquity h2{
     color: #F16822;
     text-align: center;
     padding-top: 17rem;
     padding-bottom: 5.4rem;
     font-size: 4.8rem;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
}


.what-ubiquity p{
     color: #EEE;
     text-align: center;
     padding-bottom: 55.3rem;
}

/* Latest Post */

.latest-post{
     margin-top: 17rem;
}

.grid-latest-post{
     display: grid;
     margin-bottom: 20rem;
     grid-template-columns: repeat(3, 1fr);
     row-gap: 10rem;
     column-gap: 4rem;
}

.latest-post h2, .latest-post .baseline{
     grid-column: 1/-1;
     text-align: center;
}

.latest-post-card{
     background: #FFF;
     box-shadow: 0px 3px 6px #00000029;
     opacity: 1;
}

.latest-post-card-img{
     padding: 2rem;
}

.latest-post h2{
     font-size: 4.8rem;
     font-weight: 700;
     font-family: 'Raleway', sans-serif;
}

.latest-post .baseline{
     margin-top: 5.4rem;
     font-size: 2.4rem;
     margin-bottom: 11.5rem;
}

.latest-post h3, .latest-post p{
     text-align: center;
}

.latest-post h3{
     color: #F16822;
     font-family: 'Raleway', sans-serif;
     font-weight: 600;
     font-size: 4rem;
     padding-top: 7.3rem;
     padding-bottom: 2.5rem;
}

.latest-post-card p{
     font-size: 1.6rem;
     line-height: 1.5;
     margin-bottom: 4.5rem;
}

/* Fun Facts */

.facts{
     background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url("../img/background-fun-facts.jpg");
     background-size: cover;
     background-position: center; 
     width: 100%;
     min-height: 90vh;
}

.facts .container {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
}
   
.facts h2 {
     grid-column: 1/-1;
     text-align: center;
     margin-bottom: 8.3rem;
     margin-top: 17rem;
}
   
.facts-number {
     grid-row: 2/7;
     text-align: center;
     margin-bottom: 2.3rem;
     font-weight: 700;
     color: #F16822;
     font-size: 6.4rem;
}

.facts-text{
     text-align: center;
     margin-bottom: 17rem;
}

/* Bonjour Amanda */

.team{
     background-image: url(../img/rect.jpg);
     width: 100%;
     background-size: cover;
     background-position: center;
     min-height: 50vh;
}

@media (min-resolution: 144dpi){
     .team{
          background-image: url(../img/rect@2x.jpg);
     }
}

.team .container{
     display: flex;
     align-items: center;
}

.team-img{
     border-radius: 50%;
     width: 22rem;
     height: 22rem;
     margin-top: 17rem;
     margin-bottom: 21rem;
     margin-right: 5rem;
}

.team-info{
     text-align: left;
}

.team-info h2{
     margin-bottom: 2.4rem;
     color: #fff;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     line-height: 1.4;
}

.team-info p{
     color: #EEE;
}

/* Contact */

.contact{
     background-color: #333;
     padding-bottom: 3.4rem;
}

.contact-global{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     justify-self: normal;
     row-gap: 2rem;
     border-bottom: 1px solid #FFF;
     padding-bottom: 10rem;
}

.contact-global h2{
     grid-row: 1/-1;
     font-weight: 700;
     font-family: 'Raleway', sans-serif;
     font-size: 2.4rem;
     color:#F16822;
     text-align: left;
     margin-top: 11rem;
     text-transform: uppercase;
}

.tags-button{
     background-color: #444;
     border: transparent;
     font-weight: 600;
     line-height: 1;
     font-size: 1.2rem;
     text-transform: uppercase;
     margin: .12rem;
     list-style-type: none;
     padding: .5rem 1.2rem
}

.tags-button a{
     margin: 0.5rem 1.2rem;
}

.recent-list li{
     font-size: 2rem;
     color: #CCC;
     line-height: 2;
}

.contact-ubiquity a{
     font-size: 2rem;
     line-height: 1.6;
}

.recent-list-link::before{
     content:"";
     display: inline-flex;
     width: 1rem;
     height: 0.8rem;
     background-image: url(../img/angle-double-right.svg);
     margin-right: 1rem;
}

.contact-global a{
     text-decoration: none;
     color: #CCC;
}


.adress::before{
     content:"";
     display: inline-flex;
     width: 2.1rem;
     height: 2.6rem;
     background-image: url(../img/map-marker.svg);
     margin-right: 1rem;
}

.number-phone::before{
     content:"";
     display: inline-flex;
     width: 2.4rem;
     height: 2.4rem;
     background-image: url(../img/phone.svg);
     margin-right: 1rem;
}

.email::before{
     content:"";
     display: inline-flex;
     width: 2.5rem;
     height: 2rem;
     background-image: url(../img/envelope.svg);
     margin-right: 1rem;
}


.copyright-text{
     color: #CCC;
     margin-top: 3.5rem;
}

.copyright{
     display: flex;
     justify-content: space-between;
}

.icons-social{
     display: flex;
     margin-top: 3.5rem;
}

.icons-social-img{
     margin-right: 2.5rem;
}

.contact-ubiquity li {
     margin-bottom: 3.5rem;
}